body{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(130, 123, 230);
    justify-content: center;
    align-items: center;
}
.card{
    padding: 20px 20px;
    width: 250px;
    height: 400px;
    background-color: white;
    align-items: center;
    border-radius: 20px;

}
img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
}
.text{
    text-align: center;
}
h3{
    font-size: 20px;
}
p{
    color: rgba(65, 65, 66, 0.633);
}